<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/sol.png">
    <title>404</title>
</head>

<body>
    <div class="showcase">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>

</html>